button {
    margin: 0;
    background: transparent;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    appearance: none;
    border: 1px solid transparent;
}

.btn {
    @extend .base-button;
    @extend .link-alt;
    &--primary {
        position: relative;
        @include base-size(20);
        @include base-flex(inline-flex,strech,strech, column);
        overflow: hidden;
    }
}

